---
import { supabase } from "../../../public/supabase.js";

const { id } = Astro.params;
const { email } = Astro.locals;

let { data: usuarioId } = await supabase
  .from("Usuario")
  .select("*")
  .eq("email", email);

let { data: comentario, error } = await supabase
  .from("Comentario")
  .select("*")
  .eq("queja", id);

let totalEstrellas = 0;
let totalComentarios = comentario.length;

let comentarios1estrellas = 0;
let comentarios2estrellas = 0;
let comentarios3estrellas = 0;
let comentarios4estrellas = 0;
let comentarios5estrellas = 0;

for (let i = 0; i < comentario.length; i++) {
  let { data: usuario, error } = await supabase
    .from("Usuario")
    .select("*")
    .eq("id", comentario[i].usuario);
  comentario[i].nombreUsuario = usuario[0].nombre + " " + usuario[0].apellidos;
  totalEstrellas += comentario[i].estrellas;
  if (comentario[i].estrellas === 1) {
    comentarios1estrellas++;
  } else if (comentario[i].estrellas === 2) {
    comentarios2estrellas++;
  } else if (comentario[i].estrellas === 3) {
    comentarios3estrellas++;
  } else if (comentario[i].estrellas === 4) {
    comentarios4estrellas++;
  } else if (comentario[i].estrellas === 5) {
    comentarios5estrellas++;
  }
}

let promedioEstrellas = totalEstrellas / totalComentarios;
if (isNaN(promedioEstrellas) || promedioEstrellas < 0) {
  promedioEstrellas = 0;
}

let porcentaje1estrellas = (comentarios1estrellas / totalComentarios) * 100;
let porcentaje2estrellas = (comentarios2estrellas / totalComentarios) * 100;
let porcentaje3estrellas = (comentarios3estrellas / totalComentarios) * 100;
let porcentaje4estrellas = (comentarios4estrellas / totalComentarios) * 100;
let porcentaje5estrellas = (comentarios5estrellas / totalComentarios) * 100;

let porcentajes = {
  1: porcentaje1estrellas || 0,
  2: porcentaje2estrellas || 0,
  3: porcentaje3estrellas || 0,
  4: porcentaje4estrellas || 0,
  5: porcentaje5estrellas || 0,
};
---

<h2
  class="text-teal-800 dark:text-teal-400 text-3xl font-bold mb-5 text-center"
>
  Comentarios de la publicación
</h2>

<div class="text-teal-500 flex justify-center items-center">
  {
    [...Array(Math.floor(promedioEstrellas))].map(() => (
      <svg
        class="w-7 h-7 text-yellow-300 ms-1"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 22 20"
      >
        <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
      </svg>
    ))
  }
  {
    promedioEstrellas % 1 > 0 && (
      <div class="relative w-7 h-7 ms-1">
        <svg
          class="absolute top-0 left-0 w-full h-full text-gray-300 dark:text-gray-500"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 22 20"
        >
          <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
        </svg>
        <svg
          class="absolute top-0 left-0 w-full h-full text-yellow-300"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 22 20"
          style={`clip-path: inset(0 ${100 - (promedioEstrellas % 1) * 100}% 0 0);`}
        >
          <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
        </svg>
      </div>
    )
  }
  {
    [...Array(5 - Math.ceil(promedioEstrellas))].map(() => (
      <svg
        class="w-7 h-7 ms-1 text-gray-300 dark:text-gray-500"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 22 20"
      >
        <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
      </svg>
    ))
  }

  <p class="ms-1 text-xl font-bold text-teal-950 dark:text-neutral-200">
    {promedioEstrellas.toFixed(2)}
  </p>
</div>

<div class="flex flex-col items-center justify-center">
  {
    Array.from({ length: 5 }, (_, i) => i + 1).map((star) => (
      <div class="flex items-center mt-4 w-1/2">
        <p class="text-l dark:text-neutral-200 text-teal-950">
          {star} estrellas
        </p>
        <div class="w-3/4 h-5 mx-4 bg-neutral-300 rounded dark:bg-neutral-500">
          <div
            class="h-5 bg-yellow-300 rounded"
            style={{ width: `${porcentajes[star]}%` }}
          />
        </div>
        <span class="text-l dark:text-neutral-200 text-teal-950">
          {porcentajes[star].toFixed(2)} %
        </span>
      </div>
    ))
  }
</div>

{
  comentario && comentario.length > 0 ? (
    comentario.map((comentario) => (
      <div class="border-teal-800 dark:border-teal-800  border-2 my-2 sm:mx-20 sm:my-6 lg:my-10 py-1 lg:mx-56 mx-5 p-10">
        <div class="flex justify-between items-center">
          <div class="flex items-center">
            <h2 class="text-teal-900 dark:text-teal-300 font-bold text-l lg:text-xl mr-4">
              {comentario.nombreUsuario}
            </h2>
            <div class="text-teal-500 flex">
              {[...Array(comentario.estrellas)].map(() => (
                <svg
                  class="w-7 h-7 text-yellow-300 ms-1"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 22 20"
                >
                  <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
              ))}
              {[...Array(5 - comentario.estrellas)].map(() => (
                <svg
                  class="w-7 h-7 ms-1 text-gray-300 dark:text-gray-500"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 22 20"
                >
                  <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
              ))}
            </div>
          </div>
          <h2 class="text-teal-800 dark:text-teal-400 font-bold text-l my-4">
            {comentario.fecha.substring(0, 10)}{" "}
            {comentario.fecha.substring(11, 16)}
          </h2>
        </div>
        <p class="lg:text-l mb-3 font-semibold text-neutral-700 dark:text-neutral-50">
          {comentario.descripcion}
        </p>
      </div>
    ))
  ) : (
    <div class="flex justify-center items-center flex-col mt-10">
      <h1 class="text-center font-bold text-2xl text-teal-950 dark:text-teal-300">
        ¡Aún no hay ningún comentario!
      </h1>
    </div>
  )
}
<form id="comentarioForm" enctype="multipart/form-data">
  <div class="my-5 lg:my-10 text-center pb-10 lg:mx-56 mx-5">
    <h2
      class="font-bold mt-10 text-center lg:text-2xl text-xl text-teal-950 dark:text-teal-500 my-10 pt-5"
    >
      ¡Deja tu comentario!
    </h2>
    <div>
      <div class="grid grid-cols-1 gap-2">
        <label
          for="descripcion"
          class="font-medium text-teal-800 dark:text-neutral-100 text-xl"
          >Descripción</label
        >
        <textarea
          id="descripcion"
          name="descripcion"
          rows="2"
          class="py-1 px-3 border bg-teal-100 dark:bg-teal-200 border-teal-600 mb-4 mx-32"
        ></textarea>
      </div>

      <div class="grid grid-cols-1 gap-2">
        <label
          for="estrellas"
          class="font-medium text-xl text-teal-800 dark:text-neutral-100"
          >Valoración</label
        >
        <select
          id="estrellas"
          name="estrellas"
          class="py-1 px-3 border bg-teal-100 dark:bg-teal-200 border-teal-600 mb-8 mx-auto"
        >
          <option value="1">1 estrella</option>
          <option value="2">2 estrellas</option>
          <option value="3">3 estrellas</option>
          <option value="4">4 estrellas</option>
          <option value="5">5 estrellas</option>
        </select>
      </div>

      <input type="hidden" id="quejaId" value={id} />
      <input type="hidden" id="usuarioId" value={usuarioId[0].id} />

      <button
        id="publicarComentario"
        class="bg-teal-300 dark:bg-teal-500 font-semibold px-4 py-2 hover:bg-teal-200 dark:hover:bg-teal-600 text-teal-950"
        >Publicar comentario
      </button>

      <script src="./insertComentario.js"></script>
    </div>
  </div>
</form>
