---
import { supabase } from "../../lib/supabase";
let { data: quejas } = await supabase
  .from("Queja")
  .select("*")
  .order("fecha", { ascending: false })
  .range(0, 4);

for (let i = 0; i < quejas.length; i++) {
  const { data } = supabase.storage
    .from("imagenes")
    .getPublicUrl(quejas[i].imagen);
  quejas[i].imagen = data.publicUrl;
}
---

<h2
  class="text-teal-800 dark:text-teal-300 font-bold mt-8 text-center lg:text-2xl text-xl"
>
  Últimas publicaciones
</h2>
{
  quejas &&
    quejas.map((queja) => (
      <div class="flex flex-col md:flex-row text-center md:text-left mb-2 bg-teal-300 dark:bg-zinc-700 rounded my-5 lg:my-10 lg:mx-56 mx-5">
        <div class="flex items-center">
          <img src={queja.imagen} class="w-auto h-4/5 lg:w-96 m-auto" />
        </div>
        <div class="bg-teal-500 dark:bg-zinc-900 rounded flex-1 pb-10">
          <div class="flex justify-between">
            <h2 class="text-teal-950 dark:text-teal-400 font-bold text-lg lg:text-xl my-4 mx-8">
              {queja.titulo}
            </h2>
            <h2 class="text-teal-900 dark:text-teal-600  font-bold text-l my-4 mx-8">
              {queja.fecha.substring(0, 10)}
            </h2>
          </div>
          <p class="text-am lg:text-l mx-10 text-neutral-100 dark:text-neutral-100">
            {queja.descripcion}
          </p>
          <div class="bg-teal-300 dark:bg-teal-500 text-teal-900 px-5 py-2 my-5 mx-5 inline-block font-semibold">
            {queja.categoria}
          </div>
          <button class="bg-teal-300 dark:bg-teal-500 px-5 py-2 my-5 mx-5 hover:bg-teal-200 dark:hover:bg-teal-600 text-teal-900 font-semibold">
            <a href={`/queja/${queja.id}`}>Más información</a>
          </button>
        </div>
      </div>
    ))
}
